.author-container {
  max-width: 100%;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-author-card {
  margin-bottom: 48px;
  padding: 32px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
  max-width: 823px;
  display: flex;
  gap: 32px;
  width: 100%;
}
.author-image-block {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgb(61, 97, 255);
  overflow: hidden;
}
.author-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.author-name {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 700;
}
.about-author {
  font-size: 16px;
  margin-bottom: 16px;
  color: rgb(85, 88, 104);
}
.author-soc-media {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.soc-media-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(206, 210, 227);
}
.soc-media-icon:hover {
  background-color: rgb(206, 210, 227);
  border-color: rgb(229, 231, 235);
}
.soc-media-icon img {
  width: 16px;
  height: 16px;
}
.followers {
  display: flex;
  gap: 16px;
}
.followers-col {
  display: flex;
  align-items: center;
  gap: 4px;
}
.followers-col img {
  width: 16px;
  height: 16px;
  fill: royalblue;
}
.followers-col span {
  font-size: 14px;
  color: rgb(85, 88, 104);
}
.author-tab-card {
  max-width: 823px;
  width: 100%;
}
.about-card {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid rgb(229, 231, 235);
}
.about-card-title {
  font-size: 16px;
  margin-bottom: 24px;
  color: rgb(3, 5, 12);
  font-weight: bold;
}
.about-card-text {
  color: rgb(85, 88, 104);
  margin-bottom: 16px;
}
.skills-title {
  font-size: 16px;
  margin-bottom: 8px;
  color: rgb(3, 5, 12);
  font-weight: bold;
}
.skills-list {
  display: flex;
  gap: 8px;
}
